* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1.7 sans-serif;
}
.container {
  margin: 0 auto;
  padding: 30px;
  max-width: 800px;
}
.cmd {
  display: flex;
  align-items: center;
}
.cmd__input {
  flex: 1;
  padding: 10px;
}
.cmd__btn {
  padding: 10px;
}
.canvas {
  height: 400px;
  border: 1px solid #e5e5e5;
}