* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1.7 sans-serif;
}
header {
  padding: 10px 20px;
  background: #333;
}
.cmd {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
}
.cmd__input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 18px;
}
.cmd__input:focus {
  box-shadow: inset 0 0 10px #333;
}
.cmd__btn {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-left: 1px solid #333;
  background: #fff;
  outline: none;
  user-select: none;
}
.canvas {
  margin: 0 auto;
  max-width: 1200px;
  height: 500px;
  border-bottom: 1px solid #e5e5e5;
}